.toggleContainer {

  padding: 10px;
}

.toggleHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  background-color: #121111;
}

.toggleContent {
  margin-top: 10px;
}

.highlightCriteria {
  font-weight: bold;
  color: #2a7ae4;
}

.toggleContent strong{
  color: rgb(160, 12, 12);
}

.ToogleClose {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  background-color: #121111;
}