.formContainer {
   display: flex;
   justify-content: center;
   gap: 20px;
   margin-top: 60px;
}

.title {
    font-size: 20pt;
}

.logo {
    max-width: 150px;
}

.spanName {
    font-weight: bold;
}

.formContainer input {
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ffffff;
}

.formContainer button{
    color: #000;
    background-color: #f5c518;
    border: 2px solid #f5c518 ;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}

.formContainer button:hover {
    color: #f5c518;
    background-color: transparent;
}

.buttonDowloading {
    color: #000;
    background-color: #f5c518;
    border: 2px solid #f5c518 ;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;

}

.buttonDowloading:hover {
    color: #f5c518;
    background-color: transparent;
}

.texto p{
    font-size: 16pt;
}

.message {
    
    margin-top: 5px; 
    font-size: 14pt; 
}

.success {
   
    color: #155724; 
  
}

.error {
   
    color: #ac2936; 
    
}

